$mon: #ffce54;
$tues: #ec87c0;
$wed: #37bc98;
$thur: #5d9cec;
$fri: #ed5565;

:local .container {
	width: 100%;
	display:flex;
	justify-content:space-around;

	.itemWrapper {
		height: 40vh;	
		position:absolute;
	}

	.item {
		display:flex;
		font-size:80%;
		color: #ffffff;
		width: 10vw;
		position: relative;
		border-radius: 5px;
		box-sizing: border-box;
		border: 1px solid #f7f7f7;	

		&.monday {
			background-color: $mon;
		}
		&.tuesday {
			background-color: $tues;
		}
		&.wednesday {
			background-color: $wed;
		}
		&.thursday {
			background-color: $thur;
		}
		&.friday {
			background-color: $fri;
		}

		.itemText{
			margin: 2%;
		}
	}
}

@media screen and (max-width: 900px) {
	:local .container {
		.item {
			width: 30vw;
		}
	}
}

