:local .emptyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  min-height: 35vh;
}

:local .beardedMan {
  width: 125px;
  margin-bottom: -40px;
}

:local .questionContainer {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

:local .questionHeader {
  font-size: 25px;
  margin-bottom: 10px;
  color: #9b9b9b;
}

:local .questionText {
  color: #737373;
}

@media (max-width: 500px) {
  :local .questionContainer {
    width: calc(100% - 10px);
  }
  :local .beardedMan {
    margin-bottom: 0;
  }
}
