:local .greenBox {
  width: 125px;
  height: 75px;
  background-color: #a0d468;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:hover {
    background-color: #b3e082;
  }
  &:active {
    background-color: #8cc152;
  }

  &.sidePanelOpen {
    //TODO: if we use a min width for the sidepanel, will use a buffer div instead
    transform: translateX(-30vw);
    animation: slidein;
    animation-duration: 0.6s;

    //HACK: this immediately disables the hover state color, otherwise the user needs
    //to move their mouse to change it.
    background-color: #a0d468;
  }
}

:local .crossContainer {
  width: 40px;
  height: 40px;
}

//NOTE: use transform because it is easy on the browser
//and will produce a smooth animation.
@keyframes :local(slidein) {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-30vw);
  }
}

@media (max-width: 500px) {
  :local .greenBox {
    width: calc(100% - 10px);
    height: 40px;
  }
  :local .crossContainer {
    width: 22px;
    height: 22px;
  }
}
