:local .mask {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);

  animation-duration: 0.6s;
  animation-name: fadein;
}

:local .sidePanel {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;
  width: 25vw;
  height: 100vh;
  background-color: orange;

  animation-duration: 0.6s;
  animation-name: slidein;

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes :local(fadein) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

//NOTE: use transform because it is easy on the browser
//and will produce a smooth animation.
@keyframes :local(slidein) {
  from {
    transform: translateX(25vw);
  }
  to {
    transform: translateX(0);
  }
}

@media (max-width: 500px) {

  :local .mask {
    display: none;
  }

  :local .sidePanel {
    width: 100vw;
    height: 100vh;
    animation: none;
  }
}
