@defaultColor: #8cc152;
@defaultHoverColor: #c0e796;

@TAHoverColor: #C9BBEB;
@TASelectedColor: #967ADC;

:local .sidebarItem {
  // Font styles
  font-size: 20px;
  letter-spacing: -0.7px;
  color: @defaultColor;

  //alignment
  height: 8vh;
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  &:hover {
    background-color: @defaultHoverColor;
    cursor: pointer;
    &.isTA {
      background-color: @TAHoverColor;
    }
  }
  &.isSelected {
    background-color: @defaultColor;
    &.isTA {
      background-color: @TASelectedColor;
    }
  }
  &.isActive {
    color: white;
  }
}
