:local .sidebar {
  background-color: #a0d468;
  box-shadow: 2px 2px 11px 0 rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 30vw;
  max-width: 250px;
  min-width: 100px;
}

:local .sidebarLinks {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

:local .sidebarTitle {
  // Font styles
  font-size: 24px;
  letter-spacing: -0.7px;
  color: white;

  // alignment
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: orange;
  align-items: center;
  height: 10vh;
}

:local .sidebarFooter {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: orange;
  justify-content: center;
  height: 10vh;

  // Font styles
  font-size: 20px;
  letter-spacing: -0.7px;
  color: white;
}

:local .plus {
  margin: 0 10px;
  color: white;
  font-size: 45px;
  position: relative;
  top: -3px;
  // left: -10px;
  border-radius: 3px;
}

@media (max-height: 400px) {
  :local .sidebarFooter {
    display: none;
    height: 0px;
  }
  :local .sidebarTitle {
    display: none;
    height: 0px;
  }
  :local .sidebarLinks {
    overflow: scroll;
    height: 100vh;
  }
}
