:local .sidebarItem {
	// Font styles
  font-family: Roboto;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: -0.7px;
  color: #8cc152;

	//alignment
	height: 8vh;
	width: 100%;
	min-height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	&:hover {
		background-color: blue;
		cursor: pointer;
	}
	&.isSelected {
		background-color: #8cc152;
	}
	&.isActive {
		color: white;
	}
}
